In [1]:
import pandas as pd
import pydataset

### 1. ) Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = pd.DataFrame(pydataset.data('iris'))

Print the first 3 rows:

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

Print the number of rows and columns:

In [4]:
df_iris.shape

(150, 5)

Print the column names:

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

Print the data type of each column:

In [8]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

Print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics? Yes, because sepal length and width are proportionally much larger than petal length and petal width.

In [44]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 2. ) Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [24]:
df_excel = pd.read_excel('Excel_Exercises.xlsx', index_col=0)

Assign the first 100 rows to a new dataframe, df_excel_sample:

In [25]:
df_excel_sample = df_excel.head(100)

Print the number of rows of your original dataframe:

In [46]:
df_excel.shape

(7049, 11)

Print the first 5 column names:

In [28]:
df_excel.columns

Index(['gender', 'is_senior_citizen', 'partner', 'dependents', 'phone_service',
       'internet_service', 'contract_type', 'payment_type', 'monthly_charges',
       'total_charges', 'churn'],
      dtype='object')

Print the column names that have a data type of object:

In [32]:
object_columns = df_excel.dtypes == 'object'
object_columns

gender                True
is_senior_citizen    False
partner               True
dependents            True
phone_service        False
internet_service     False
contract_type        False
payment_type          True
monthly_charges      False
total_charges        False
churn                 True
dtype: bool

Compute the range for each of the numeric variables.:

### 3. ) Read the data from this google sheet into a dataframe, df_google

In [35]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_googlesheet = pd.read_csv(csv_export_url)

Print the first 3 rows:

In [36]:
df_googlesheet.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

Print the number of rows and columns:

In [37]:
df_googlesheet.shape

(891, 12)

Print the column names:

In [38]:
df_googlesheet.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Print the data type of each column:

In [41]:
df_googlesheet.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Print the summary statistics for each of the numeric variables:

In [42]:
df_googlesheet.describe

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
30            31         0       1
31            32         1       1
32            33         1       3
33            34         0       2
34            35         0       1
35            36         0       1
36            37         1       3
37            38         0       3
38            39         0       3
39            40         1       3
40            41         0       3
41            42         0       2
42            43         0       3
43            44         1       2
44            45         1       3
45            46         0       3
46            47         0       3
47            48         1       3
48            49         0       3
49            50         0       3
50            51         0       3
51            52         0       3
52            53         1       1
53            54         1       2
54            55         0       1
55            56         1       1
56            57         1       2
57            58         0       3
58            59         1       2
59            60         0       3
60            61         0       3
61            62         1       1
62            63         0       1
63            64         0       3
64            65         0       1
65            66         1       3
66            67         1       2
67            68         0       3
68            69         1       3
69            70         0       3
70            71         0       2
71            72         0       3
72            73         0       2
73            74         0       3
74            75         1       3
75            76         0       3
76            77         0       3
77            78         0       3
78            79         1       2
79            80         1       3
80            81         0       3
81            82         1       3
82            83         1       3
83            84         0       1
84            85         1       2
..           ...       ...     ...
806          807         0       1
807          808         0       3
808          809         0       2
809          810         1       1
810          811         0       3
811          812         0       3
812          813         0       2
813          814         0       3
814          815         0       3
815          816         0       1
816          817         0       3
817          818         0       2
818          819         0       3
819          820         0       3
820          821         1       1
821          822         1       3
822          823         0       1
823          824         1       3
824          825         0       3
825          826         0       3
826          827         0       3
827          828         1       2
828          829         1       3
829          830         1       1
830          831         1       3
831          832         1       2
832          833         0       3
833          834         0       3
834          835         0       3
835          836         1       1
836          837         0       3
837          838         0       3
838          839         1       3
839          840         1       1
840          841         0       3
841          842         0       2
842          843         1       1
843          844         0       3
844          845         0       3
845          846         0       3
846          847         0       3
847          848         0       3
848          849         0       2
849          850         1       1
850          851         0       3
851          852         0       3
852          853         0       3
853          854         1       1
854          855         0       2
855          856         1       3
856          857         1       1
857          858         1       1
858          859         1       3
859          860         0       3
860          861         0       3
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                          Name     Sex    Age  \
0                                      Braund, Mr. Owen Harris    male  22.00
1          Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.00
2                                       Heikkinen, Miss. Laina  female  26.00
3                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00
4                                     Allen, Mr. William Henry    male  35.00
5                                             Moran, Mr. James    male    NaN
6                                      McCarthy, Mr. Timothy J    male  54.00
7                               Palsson, Master. Gosta Leonard    male   2.00
8            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00
9                          Nasser, Mrs. Nicholas (Adele Achem)  female  14.00
10                             Sandstrom, Miss. Marguerite Rut  female   4.00
11                                    Bonnell, Miss. Elizabeth  female  58.00
12                              Saundercock, Mr. William Henry    male  20.00
13                                 Andersson, Mr. Anders Johan    male  39.00
14                        Vestrom, Miss. Hulda Amanda Adolfina  female  14.00
15                            Hewlett, Mrs. (Mary D Kingcome)   female  55.00
16                                        Rice, Master. Eugene    male   2.00
17                                Williams, Mr. Charles Eugene    male    NaN
18     Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.00
19                                     Masselmani, Mrs. Fatima  female    NaN
20                                        Fynney, Mr. Joseph J    male  35.00
21                                       Beesley, Mr. Lawrence    male  34.00
22                                 McGowan, Miss. Anna "Annie"  female  15.00
23                                Sloper, Mr. William Thompson    male  28.00
24                               Palsson, Miss. Torborg Danira  female   8.00
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)  female  38.00
26                                     Emir, Mr. Farred Chehab    male    NaN
27                              Fortune, Mr. Charles Alexander    male  19.00
28                               O'Dwyer, Miss. Ellen "Nellie"  female    NaN
29                                         Todoroff, Mr. Lalio    male    NaN
30                                    Uruchurtu, Don. Manuel E    male  40.00
31              Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN
32                                    Glynn, Miss. Mary Agatha  female    NaN
33                                       Wheadon, Mr. Edward H    male  66.00
34                                     Meyer, Mr. Edgar Joseph    male  28.00
35                              Holverson, Mr. Alexander Oskar    male  42.00
36                                            Mamee, Mr. Hanna    male    NaN
37                                    Cann, Mr. Ernest Charles    male  21.00
38                          Vander Planke, Miss. Augusta Maria  female  18.00
39                                 Nicola-Yarred, Miss. Jamila  female  14.00
40              Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.00
41    Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female  27.00
42                                         Kraeff, Mr. Theodor    male    NaN
43                    Laroche, Miss. Simonne Marie Anne Andree  female   3.00
44                               Devaney, Miss. Margaret Delia  female  19.00
45                                    Rogers, Mr. William John    male    NaN
46                                           Lennon, Mr. Denis    male    NaN
47                                   O'Driscoll, Miss. Bridget  female    NaN
48                                         Samaan, Mr. Youssef    male    NaN
49               Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.00
50                                  Panula, Master. Juha Niilo    male   7.00
51                                Nosworthy, Mr. Richard Cater    male  21.00
52                    Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00
53          Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)  female  29.00
54                              Ostby, Mr. Engelhart Cornelius    male  65.00
55                                           Woolner, Mr. Hugh    male    NaN
56                                           Rugg, Miss. Emily  female  21.00
57                                         Novel, Mr. Mansouer    male  28.50
58                                West, Miss. Constance Mirium  female   5.00
59                          Goodwin, Master. William Frederick    male  11.00
60                                       Sirayanian, Mr. Orsen    male  22.00
61                                         Icard, Miss. Amelie  female  38.00
62                                 Harris, Mr. Henry Birkhardt    male  45.00
63                                       Skoog, Master. Harald    male   4.00
64                                       Stewart, Mr. Albert A    male    NaN
65                                    Moubarek, Master. Gerios    male    NaN
66                                Nye, Mrs. (Elizabeth Ramell)  female  29.00
67                                    Crease, Mr. Ernest James    male  19.00
68                             Andersson, Miss. Erna Alexandra  female  17.00
69                                           Kink, Mr. Vincenz    male  26.00
70                                  Jenkin, Mr. Stephen Curnow    male  32.00
71                                  Goodwin, Miss. Lillian Amy  female  16.00
72                                        Hood, Mr. Ambrose Jr    male  21.00
73                                 Chronopoulos, Mr. Apostolos    male  26.00
74                                               Bing, Mr. Lee    male  32.00
75                                     Moen, Mr. Sigurd Hansen    male  25.00
76                                           Staneff, Mr. Ivan    male    NaN
77                                    Moutal, Mr. Rahamin Haim    male    NaN
78                               Caldwell, Master. Alden Gates    male   0.83
79                                    Dowdell, Miss. Elizabeth  female  30.00
80                                        Waelens, Mr. Achille    male  22.00
81                                 Sheerlinck, Mr. Jan Baptist    male  29.00
82                              McDermott, Miss. Brigdet Delia  female    NaN
83                                     Carrau, Mr. Francisco M    male  28.00
84                                         Ilett, Miss. Bertha  female  17.00
..                                                         ...     ...    ...
806                                     Andrews, Mr. Thomas Jr    male  39.00
807                            Pettersson, Miss. Ellen Natalia  female  18.00
808                                          Meyer, Mr. August    male  39.00
809             Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.00
810                                     Alexander, Mr. William    male  26.00
811                                          Lester, Mr. James    male  39.00
812                                  Slemen, Mr. Richard James    male  35.00
813                         Andersson, Miss. Ebba Iris Alfrida  female   6.00
814                                 Tomlin, Mr. Ernest Portage    male  30.50
815                                           Fry, Mr. Richard    male    NaN
816                               Heininen, Miss. Wendla Maria  female  23.00
817                                         Mallet, Mr. Albert    male  31.00
818                           Holm, Mr. John Fredrik Alexander    male  43.00
819                               Skoog, Master. Karl Thorsten    male  10.00
820         Hays, Mrs. Charles Melville (Clara Jennings Gregg)  female  52.00
821                                          Lulic, Mr. Nikola    male  27.00
822                            Reuchlin, Jonkheer. John George    male  38.00
823                                         Moor, Mrs. (Beila)  female  27.00
824                               Panula, Master. Urho Abraham    male   2.00
825                                            Flynn, Mr. John    male    NaN
826                                               Lam, Mr. Len    male    NaN
827                                      Mallet, Master. Andre    male   1.00
828                               McCormack, Mr. Thomas Joseph    male    NaN
829                  Stone, Mrs. George Nelson (Martha Evelyn)  female  62.00
830                    Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00
831                            Richards, Master. George Sibley    male   0.83
832                                             Saad, Mr. Amin    male    NaN
833                                     Augustsson, Mr. Albert    male  23.00
834                                     Allum, Mr. Owen George    male  18.00
835                                Compton, Miss. Sara Rebecca  female  39.00
836                                           Pasic, Mr. Jakob    male  21.00
837                                        Sirota, Mr. Maurice    male    NaN
838                                            Chip, Mr. Chang    male  32.00
839                                       Marechal, Mr. Pierre    male    NaN
840                                Alhomaki, Mr. Ilmari Rudolf    male  20.00
841                                   Mudd, Mr. Thomas Charles    male  16.00
842                                    Serepeca, Miss. Augusta  female  30.00
843                                 Lemberopolous, Mr. Peter L    male  34.50
844                                        Culumovic, Mr. Jeso    male  17.00
845                                        Abbing, Mr. Anthony    male  42.00
846                                   Sage, Mr. Douglas Bullen    male    NaN
847                                         Markoff, Mr. Marin    male  35.00
848                                          Harper, Rev. John    male  28.00
849               Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female    NaN
850                    Andersson, Master. Sigvard Harald Elias    male   4.00
851                                        Svensson, Mr. Johan    male  74.00
852                                    Boulos, Miss. Nourelain  female   9.00
853                                  Lines, Miss. Mary Conover  female  16.00
854              Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.00
855                                 Aks, Mrs. Sam (Leah Rosen)  female  18.00
856                 Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00
857                                     Daly, Mr. Peter Denis     male  51.00
858                      Baclini, Mrs. Solomon (Latifa Qurban)  female  24.00
859                                           Razi, Mr. Raihed    male    NaN
860                                    Hansen, Mr. Claus Peter    male  41.00
861                                Giles, Mr. Frederick Edward    male  21.00
862        Swift, Mrs. Frederick Joel (Margaret Welles Barron)  female  48.00
863                          Sage, Miss. Dorothy Edith "Dolly"  female    NaN
864                                     Gill, Mr. John William    male  24.00
865                                   Bystrom, Mrs. (Karolina)  female  42.00
866                               Duran y More, Miss. Asuncion  female  27.00
867                       Roebling, Mr. Washington Augustus II    male  31.00
868                                van Melkebeke, Mr. Philemon    male    NaN
869                            Johnson, Master. Harold Theodor    male   4.00
870                                          Balkic, Mr. Cerin    male  26.00
871           Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.00
872                                   Carlsson, Mr. Frans Olof    male  33.00
873                                Vander Cruyssen, Mr. Victor    male  47.00
874                      Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.00
875                           Najib, Miss. Adele Kiamie "Jane"  female  15.00
876                              Gustafsson, Mr. Alfred Ossian    male  20.00
877                                       Petroff, Mr. Nedelio    male  19.00
878                                         Laleff, Mr. Kristo    male    NaN
879              Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.00
880               Shelley, Mrs. William (Imanita Parrish Hall)  female  25.00
881                                         Markun, Mr. Johann    male  33.00
882                               Dahlberg, Miss. Gerda Ulrika  female  22.00
883                              Banfield, Mr. Frederick James    male  28.00
884                                     Sutehall, Mr. Henry Jr    male  25.00
885                       Rice, Mrs. William (Margaret Norton)  female  39.00
886                                      Montvila, Rev. Juozas    male  27.00
887                               Graham, Miss. Margaret Edith  female  19.00
888                   Johnston, Miss. Catherine Helen "Carrie"  female    NaN
889                                      Behr, Mr. Karl Howell    male  26.00
890                                        Dooley, Mr. Patrick    male  32.00

     SibSp  Parch            Ticket      Fare        Cabin Embarked
0        1      0         A/5 21171    7.2500          NaN        S
1        1      0          PC 17599   71.2833          C85        C
2        0      0  STON/O2. 3101282    7.9250          NaN        S
3        1      0            113803   53.1000         C123        S
4        0      0            373450    8.0500          NaN        S
5        0      0            330877    8.4583          NaN        Q

Print the unique values for each of your categorical variables: