In [18]:
import pandas as pd
import numpy as np

from pandas_profiling import ProfileReport

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

import wrangle
import split_scale

In [2]:
df = wrangle.wrangle_telco()

In [3]:
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1695 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.1+ KB

## Split Data

In [5]:
X = df[['monthly_charges','tenure']]
y =df[['total_charges']]
print(X.head())
print(y.head())

   monthly_charges  tenure
0           109.70      71
1            84.65      63
2            90.45      65
3            45.20      54
4           116.80      72
   total_charges
0        7904.25
1        5377.80
2        5957.90
3        2460.55
4        8456.75

In [6]:
X_train, X_test = split_scale.split_my_data(X)

In [7]:
y_train, y_test = split_scale.split_my_data(y)

In [8]:
X_train.head()

      monthly_charges  tenure
1469            84.40      72
163            104.10      65
392             20.50      58
1546            81.00      72
797             61.45      61

In [9]:
print('X_train shape is', X_train.shape)
print('X_test shape is', X_test.shape)
print('y_train shape is', y_train.shape)
print('y_test shape is', y_test.shape)

X_train shape is (1186, 2)
X_test shape is (509, 2)
y_train shape is (1186, 1)
y_test shape is (509, 1)

## Scaling Data

### Standard Scaler

```def standard_scaler(X_train, X_test):
    scaler = StandardScaler().fit(X_train)
    X_train_scaled = (pd.DataFrame(scaler.transform(X_train), 
                      columns=X_train.columns, 
                      index=X_train.index))
    X_test_scaled = (pd.DataFrame(scaler.transform(X_test), 
                     columns=X_test.columns,
                     index=X_test.index))
    return scaler, X_train_scaled, X_test_scaled
    ```

In [10]:
scaler, X_train_scaled, X_test_scaled = split_scale.standard_scaler(X_train, X_test)

In [11]:
X_train_scaled.head()

      monthly_charges    tenure
1469         0.672591  0.838946
163          1.237494  0.441745
392         -1.159761  0.044543
1546         0.575095  0.838946
797          0.014492  0.214772

In [12]:
X_test_scaled.head()

      monthly_charges    tenure
252         -1.169798 -2.679126
632          0.418814  0.328258
472         -1.187003  0.725460
1029         1.111323  0.328258
910          0.603770  0.782203

In [13]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

## Scaling X and y at the same time

```
def standard_scaler_y(X_train, X_test, y_train, y_test):
    X_scaler = StandardScaler(copy=True, with_mean=True, with_std=True).fit(X_train)
    y_scaler = StandardScaler(copy=True, with_mean=True, with_std=True).fit(y_train)
    X_train_scaled = (pd.DataFrame(X_scaler.transform(X_train), 
                      columns=X_train.columns, 
                      index=X_train.index))
    X_test_scaled = (pd.DataFrame(X_scaler.transform(X_test), 
                     columns=X_test.columns,
                     index=X_test.index))
    y_train_scaled = (pd.DataFrame(y_scaler.transform(y_train), 
                      columns=y_train.columns, 
                      index=y_train.index))
    y_test_scaled = (pd.DataFrame(y_scaler.transform(y_test), 
                     columns=y_test.columns,
                     index=y_test.index))

    return X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled, X_scaler, y_scaler
```

In [14]:
X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled, X_scaler, y_scaler = split_scale.standard_scaler_y(X_train, X_test, y_train, y_test)

In [15]:
print('X_train scaled is', X_train_scaled.head())
print('X_test scaled is', X_test_scaled.head())
print('y_train scaled is', y_train_scaled.head())
print('y_test scaled is', y_test_scaled.head())

X_train scaled is       monthly_charges    tenure
1469         0.672591  0.838946
163          1.237494  0.441745
392         -1.159761  0.044543
1546         0.575095  0.838946
797          0.014492  0.214772
X_test scaled is       monthly_charges    tenure
252         -1.169798 -2.679126
632          0.418814  0.328258
472         -1.187003  0.725460
1029         1.111323  0.328258
910          0.603770  0.782203
y_train scaled is       total_charges
1469       0.910993
163        1.144459
392       -0.986222
1546       0.776991
797        0.003859
y_test scaled is       total_charges
252       -1.361639
632        0.373899
472       -0.881538
1029       1.001483
910        0.873630

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1695 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 53.1+ KB

In [19]:
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

HBox(children=(FloatProgress(value=0.0, description='variables', max=4.0, style=ProgressStyle(description_widt…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=9.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=2.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…